<h1 id="widgetdoodles">WidgetDoodles</h1>
<p>[<a href="https://apps.apple.com/us/app/id1312014438">JSBox</a>
script] Doodles on your home screen, using iOS 14 widgets.</p>
<h1 id="configuration">Configuration</h1>
<ul>
<li>Create doodles</li>
<li>Copy the doodles to clipboard</li>
<li>Add a widget to your home screen (<a
href="https://support.apple.com/en-us/HT207122">Guide</a>)</li>
<li>Edit the widget, choose WidgetDoodles as the script</li>
<li>Paste the doodles to the “Input Value” field</li>
<li>Done</li>
</ul>
