<h1 id="widgetdoodles">WidgetDoodles</h1>
<p>[<a href="https://apps.apple.com/cn/app/id1312014438">JSBox</a> 脚本]
使用 iOS 14 小组件功能，实现在桌面上放置您的涂鸦作品。</p>
<h1 id="配置">配置</h1>
<ul>
<li>创建涂鸦</li>
<li>复制涂鸦到剪贴板</li>
<li>添加小组件到桌面（<a
href="https://support.apple.com/zh-cn/HT207122">教程</a>）</li>
<li>编辑小组件，选择 WidgetDoodles 作为脚本</li>
<li>将涂鸦粘贴到“输入参数”那一栏</li>
<li>完成</li>
</ul>
