<h1 id="quill">Quill</h1>
<p>轻量级富文本编辑器。</p>
<h1 id="特性">特性</h1>
<ul>
<li>文件管理器</li>
<li>支持 iCloud 云盘</li>
<li>富文本编辑和预览</li>
<li>从 Files 应用导入文件</li>
<li>从 Safari 导入网页</li>
<li>导出为 HTML/PDF/图片</li>
<li>简洁方便的键盘工具栏</li>
<li>多个主题以及可自定义的样式表</li>
</ul>
<h1 id="已知问题">已知问题</h1>
<ul>
<li>中文可能会出现换行失灵，可以打几个字符或移动光标解决</li>
<li>在 iOS 13 上，iCloud 云盘可能工作不正常</li>
<li>在 iOS 13 上，添加速绘可能导致闪退</li>
</ul>
<h1 id="更多">更多</h1>
<ul>
<li><a href="https://quilljs.com">Quilljs</a></li>
</ul>
