<h1 id="quill">Quill</h1>
<p>Lightweight rich text editor.</p>
<h1 id="features">Features</h1>
<ul>
<li>File explorer</li>
<li>iCloud Drive support</li>
<li>Edit &amp; Preview rich text</li>
<li>Import from Files app</li>
<li>Import from Safari web page</li>
<li>Export to HTML/PDF/Image</li>
<li>Handy keyboard toolbar for editing</li>
<li>Themes &amp; customizable style sheet</li>
</ul>
<h1 id="known-issues">Known Issues</h1>
<ul>
<li>On iOS 13, iCloud Drive may not work</li>
<li>On iOS 13, Add Sketch may lead to crash</li>
</ul>
<h1 id="more">More</h1>
<ul>
<li><a href="https://quilljs.com">Quilljs</a></li>
</ul>
